<h1>Search Results</h1>

<table>
  <thead>
  </thead>

  <tbody>
      <%= form_tag(search_results_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Categories and Books..." %>
        <%= submit_tag "Search" %>
      <% end %>
     <% @results.each do |result| %>
      <% if result.type == "Book" %>
        <p>
          <%= link_to result.title, result %><br>
          <%= result.description %><br>
          <%= Category.find(result.category_id).name %><br>
        </p>
      <% else %>
        <p>
          <%= link_to result.name, result %><br>
          <%= "Category" %> 
        </p>
      <% end %>
    <% end %>

  </tbody>
</table>

<br>

