<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <title>Search Results</title>
    <div class="col-lg-12">
      <h1>Serach Results</h1>
    </div>
    <div class="wrap">
      <div class="search">
          <%= form_tag(search_results_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search"  %>
            <%= submit_tag "Search" %>
          <% end %>
      </div>
    </div>
<table>
  <tbody>
     <% @results.each do |result| %>
      <% if result.type == "Book" %>
        <p>
          <%= link_to result.title, result %><br>
          <%= result.description %><br>
          <%= Category.find(result.category_id).name %><br>
        </p>
      <% else %>
        <p>
          <%= link_to result.name, result %><br>
          <%= "Category" %> 
        </p>
      <% end %>
    <% end %>

  </tbody>
</table>
</div>
</body>

</html>

